Source: silver-theme
Section: kde
Priority: optional
Maintainer: NexusSfan <nexussfan@duck.com>
Build-Depends: debhelper-compat (= 10),
               git,
               build-essential,
               cmake,
               extra-cmake-modules,
               libkirigami-dev,
               libkf5style-dev,
               libkf6kcmutils-dev (>= 6.14.0~),
               libkf6colorscheme-dev (>= 6.14.0~),
               libkf5config-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5guiaddons-dev,
               libkf6i18n-dev (>= 6.14.0~),
               libkf6iconthemes-dev (>= 6.14.0~),
               kirigami2-dev,
               libkf6package-dev (>= 6.14.0~),
               libkf6service-dev (>= 6.14.0~),
               libkf6windowsystem-dev (>= 6.14.0~),
               kwayland-dev,
               libx11-dev,
               libkdecorations3-dev,
               libkf5configwidgets-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5kcmutils-dev,
               libkf5package-dev,
               libkf5service-dev,
               libkf5wayland-dev,
               libkf5windowsystem-dev,
               libsonicinterface-dev,
               libqt5x11extras5-dev,
               qt6-base-dev (>= 6.8.0~),
               qt6-declarative-dev (>= 6.8.0~),
               qtbase5-dev,
               qtdeclarative5-dev,
               gettext,
               qt6-svg-dev (>= 6.8.0~),
Standards-Version: 3.8.4
Vcs-Git: https://github.com/sonicde-debian/silver-theme.git
Vcs-Browser: https://github.com/sonicde-debian/silver-theme
Homepage: https://github.com/Sonic-DE/silver-theme

Package: kde-style-silver
Architecture: any
Depends: ${shlibs:Depends}
Description: Silver Theme for KDE Plasma
 Silver (formerly ClassiK/ClassikStyles) is a highly
 customizable binary Window Decoration, Application
 Style and Global Theme plugin for recent versions
 of the KDE Plasma desktop.
