#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=silver-settings %f
TryExec=silver-settings
Name=Silver Settings
Icon=silver-settings
Categories=Settings
